body
{
    margin:0;
    padding:0;
    height: 1fr;
    width: 1fr;
    background-color: snow;
}

div.imageViewer
{
    height: 70vh;
    width: 60vw;
    padding:0;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(44, 44, 44);
    border:4px solid rgb(105, 105, 105);
    border-radius: 4px;
    display: grid;
    grid-template-rows: 9% 67% 24%;
    grid-template-columns: 100%;
    grid-template-areas: 'title'
                         'mainImage'
                         'carousel';
}

div.title
{
    grid-area: title;
    text-align: center;
    color: snow;
    border-bottom: 4px solid rgb(105, 105, 105);
}

div.mainImage
{
    grid-area: mainImage;
    position: relative;
    object-fit: contain;
}

div.carousel
{
    display: grid;
    grid-area: carousel;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'previewBack previewMain previewNext';
    border-top: 4px solid rgb(105, 105, 105);
}

div.title, div.mainImage, div.carousel, div.previewBack, div.previewMain, div.previewNext
{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

div.previewBack
{   
    grid-area: previewBack;
}

div.previewMain
{   
    grid-area: previewMain;
}

div.previewNext
{   
    grid-area: previewNext;
}

div.imageBox
{
    object-fit: contain;
    position: relative;
    margin: auto;
    margin-top: 5%;
    height: 75%;
    width: 60%;
    background-color: rgb(20, 20, 20);
    border: 4px solid rgb(105, 105, 105);
}

div.hoverBox
{
    position: absolute;
    color: snow;
    font-size: 0px;
    text-align: center;
    text-shadow: 2px 2px black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    height: 100%;
    width: 100%;
}

#leftHover:hover
{
    background-image: url('icon_arrowLeft.png');
}

#middleHover:hover
{
    background-image: url('icon_download.png');
}

#rightHover:hover
{
    background-image: url('icon_arrowRight.png');
}

div.hoverBox:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 0px;
}

div.mainBox
{
    opacity: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
}

div.mainBox:hover
{
    opacity: 100%;
}

div.leftSelector
{
    background-image: url('icon_arrowLeft.png');
    border-right: 4px solid rgba(73, 73, 73, 0.55);
    float: left;
}

div.rightSelector
{
    background-image: url('icon_arrowRight.png');  
    border-left: 4px solid rgba(73, 73, 73, 0.55);
    float: right;
}

div.leftSelector, div.rightSelector
{
    opacity: inherit;
    height: 100%;
    width: 6.5%;
    background-color: rgba(105, 105, 105, 0.75);
    background-repeat: no-repeat;
    background-position: center;
}

div.leftSelector:hover, div.rightSelector:hover
{
    background-color: rgba(105, 105, 105, 0.85);
}

div.direction:hover
{
    background-color: rgba(105, 105, 105, 0.85);
}

img
{
    width: 100%;
    height: 100%;
}

