body
{
    margin:0;
    padding:0;
    height: 1fr;
    width: 1fr;
    background-color: snow;
}

div.imageViewer
{
    height: 50vh;
    width: 40vw;
    padding:0;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(44, 44, 44);
    border:4px solid rgb(105, 105, 105);
    border-radius: 4px;
    display: grid;
    grid-template-rows: 9% 67% 24%;
    grid-template-columns: 100%;
    grid-template-areas: 'title'
                         'mainImage'
                         'carousel';
}

div.title
{
    grid-area: title;
    text-align: center;
    color: snow;
    border-bottom: 4px solid rgb(105, 105, 105);
}

div.mainImage
{
    grid-area: mainImage;
    object-fit: contain;
}

div.carousel
{
    display: grid;
    grid-area: carousel;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'previewBack previewMain previewNext';
    border-top: 4px solid rgb(105, 105, 105);
}

div.title, div.mainImage, div.carousel, div.previewBack, div.previewMain, div.previewNext
{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

div.previewBack
{   
    grid-area: previewBack;
}

div.previewMain
{   
    grid-area: previewMain;
}

div.previewNext
{   
    grid-area: previewNext;
}

div.imageBox
{
    margin: auto;
    margin-top: 5%;
    height: 75%;
    width: 60%;
    background-color: black;
}